. {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  background: #faf9f6;

  color: #4a3530;

  line-height: 1.6;
}
img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

/* NAVBAR */

.navbar {
  background: #492c26;

  width: 100%;

  position: sticky;

  top: 0;

  z-index: 1000;
}

.nav-container {
  max-width: 1100px;

  margin: auto;

  padding: 10px 20px;

  display: flex;

  justify-content: space-between;

  align-items: center;
}

/* LOGO */

.logo {
  color: #e84b20;

  font-size: 20px;

  font-weight: bold;
}

.logo span {
  color: white;
}

/* NAV MENU */

.nav-menu {
  display: flex;

  align-items: center;

  gap: 5px;
}

.nav-menu a {
  color: white;

  font-size: 12px;

  padding: 7px 12px;

  border-radius: 3px;

  transition: 0.3s;
}

.nav-menu a:hover,
.nav-menu a.active {
  background: #674a43;
}
/* main page */
.about-page {
  max-width: 1100px;
  margin: auto;
  padding-bottom: 60px;
}
.about-header {
  text-align: center;
  padding: 0 10px 12px;
  border-bottom: 1px solid rgb(241, 205, 205);
  margin-bottom: 30px;
}
.about.header h1 {
  color: #49302b;
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 5px;
}
.about.header p {
  color: #777;
  font-size: 14px;
}
/* story card */
.story-card {
  background: white;
  border: 1px solid #e5e0da;
  border-radius: 6px;
  padding: 28px;
  margin-bottom: 28px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.story-card h2 {
  color: #49302b;
  font-size: 23px;
  margin-bottom: 17px;
}
.story-card p {
  color: #555;
  font-size: 13px;
  margin-bottom: 14px;
}
.story-image {
  width: 100%;
  height: 345px;
  margin-top: 15px;
  overflow: hidden;
  border-radius: 5px;
}
.story-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* value-card */
.values-card {
  background: white;
  border: 1px solid #e5e0da;
  border-radius: 6px;
  padding: 25px 30px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
.values-card h2 {
  text-align: center;
  color: #49302b;
  font-size: 24px;
  margin-bottom: 25px;
}
.values-card ul {
  padding-left: 20px;
}
.values-card li {
  color: #555;
  font-size: 13px;
  margin-bottom: 8px;
  padding-left: 2px;
}
.values-card li::marker {
  color: #60433b;
}
.values-card strong {
  color: #493630;
}

.footer {
  background: #291c19;

  color: #aaa;

  text-align: center;

  padding: 13px;

  font-size: 10px;
}

.footer p {
  margin: 2px 0;
}
